@use './mixins/mixins.scss' as *;
@use './mixins/function' as *;
@use './mixins/config' as *;
@include b(dropdown) {
  display: inline-flex;
  position: relative;

  // .iceDropdown_popper
  @include e(popper) {
    .#{$namespace}DropdownMenu {
      border: none;
    }
  }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@include b(dropdownMenu) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  padding: 4px;
  border-radius: 5px;

  @include e(seperator) {
    border: none;
    background-color: var(--ice-border-color);
    width: 100%;
    height: 1px;
    margin: 3px 0;
  }
}

  // .iceDropdownItem
  @include b(dropdownItem) {
    display:flex;
    width: 100%;
    padding: 6px 6px;
    justify-content: left;
    align-items: center;
    color: #555;
    font-size: 14px;
    box-sizing: border-box;
    &:hover {
      background-color: var(--ice-color-primary-light-9);
      color: var(--ice-color-primary);
      cursor: pointer;
    }

    @include e(prefix) {
      width: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    @include e(label) {
      display: inline-block;
      width: fit-content;
      margin: 0 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @include e(suffix) {
      width: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    @include when(disabled) {
      color: #bbb;
      &:hover {
        background-color: #fff;
        cursor: not-allowed;
      }
    }


  }