:root {
  --ice-color-white: #ffffff;
  --ice-color-black: #000000;
  --ice-color-transparent: transparent;
  --ice-color-primary: #fe7961;
  --ice-color-primary-alpha: rgba(254, 121, 97, 0.4);
  --ice-color-primary-dark: #fe7454;
  --ice-color-primary-darker: #e54c2a;
  --ice-color-primary-light-1: #fe8671;
  --ice-color-primary-light-3: #fea190;
  --ice-color-primary-light-5: #ffbcb0;
  --ice-color-primary-light-6: #ffc9c0;
  --ice-color-primary-light-7: #ffd7d0;
  --ice-color-primary-light-8: #ffe4df;
  --ice-color-primary-light-9: #fff2ef;
  --ice-color-success: #2eb876;
  --ice-color-success-alpha: rgba(46, 184, 118, 0.4);
  --ice-color-success-dark: #25b877;
  --ice-color-success-darker: #089f5c;
  --ice-color-success-light-1: #43bf84;
  --ice-color-success-light-3: #6dcd9f;
  --ice-color-success-light-5: #97dcbb;
  --ice-color-success-light-6: #abe3c8;
  --ice-color-success-light-7: #c0ead6;
  --ice-color-success-light-8: #d5f1e4;
  --ice-color-success-light-9: #eaf8f1;
  --ice-color-warning: #fdb124;
  --ice-color-warning-alpha: rgba(253, 177, 36, 0.4);
  --ice-color-warning-dark: #fdb417;
  --ice-color-warning-darker: #e49b00;
  --ice-color-warning-light-1: #fdb93a;
  --ice-color-warning-light-3: #fec866;
  --ice-color-warning-light-5: #fed892;
  --ice-color-warning-light-6: #fee0a7;
  --ice-color-warning-light-7: #fee8bd;
  --ice-color-warning-light-8: #ffefd3;
  --ice-color-warning-light-9: #fff7e9;
  --ice-color-danger: #EC524B;
  --ice-color-danger-alpha: rgba(236, 82, 75, 0.4);
  --ice-color-danger-dark: #ec4c3f;
  --ice-color-danger-darker: #d32719;
  --ice-color-danger-light-1: #ee635d;
  --ice-color-danger-light-3: #f28681;
  --ice-color-danger-light-5: #f6a9a5;
  --ice-color-danger-light-6: #f7bab7;
  --ice-color-danger-light-7: #f9cbc9;
  --ice-color-danger-light-8: #fbdcdb;
  --ice-color-danger-light-9: #fdeeed;
  --ice-color-error: #fd5747;
  --ice-color-error-alpha: rgba(253, 87, 71, 0.4);
  --ice-color-error-dark: #fd523a;
  --ice-color-error-darker: #e42c12;
  --ice-color-error-light-1: #fd6859;
  --ice-color-error-light-3: #fe897e;
  --ice-color-error-light-5: #feaba3;
  --ice-color-error-light-6: #febcb5;
  --ice-color-error-light-7: #fecdc8;
  --ice-color-error-light-8: #ffddda;
  --ice-color-error-light-9: #ffeeed;
  --ice-color-info: #5897fc;
  --ice-color-info-alpha: rgba(88, 151, 252, 0.4);
  --ice-color-info-dark: #4b89fc;
  --ice-color-info-darker: #2265e3;
  --ice-color-info-light-1: #69a1fc;
  --ice-color-info-light-3: #8ab6fd;
  --ice-color-info-light-5: #accbfe;
  --ice-color-info-light-6: #bcd5fe;
  --ice-color-info-light-7: #cde0fe;
  --ice-color-info-light-8: #deeafe;
  --ice-color-info-light-9: #eef5ff;
  --ice-text-color-primary: #333;
  --ice-text-color-hover: #444;
  --ice-text-color-regular: #666;
  --ice-text-color-secondary: #999;
  --ice-text-color-placeholder: #aaa;
  --ice-text-color-disabled: #acacac;
  --ice-fill-color: #eeeeee;
  --ice-fill-color-light: #f2f2f2;
  --ice-fill-color-lighter: #f6f6f6;
  --ice-fill-color-extra-light: #f6f6f6;
  --ice-fill-color-dark: #e8e8e8;
  --ice-fill-color-darker: #e2e2e2;
  --ice-fill-color-blank: #fff;
  --ice-border-color-light: #eee;
  --ice-border-color: #d8d8d8;
  --ice-border-color-dark: #cccccc;
  --ice-component-size-large: 38px;
  --ice-component-size-default: 34px;
  --ice-component-size-small: 30px;
}

:root {
  --ice-font-size-extra-large: 20px;
  --ice-font-size-large: 18px;
  --ice-font-size-medium: 16px;
  --ice-font-size-base: 14px;
  --ice-font-size-small: 13px;
  --ice-font-size-extra-small: 12px;
  --ice-border-radius-base: 4px;
  --ice-border-radius-circle: 100%;
  --ice-component-size-large: 38px;
  --ice-component-size-default: 34px;
  --ice-component-size-small: 30px;
  --ice-border-width: 1px;
  --ice-border-style: solid;
  --ice-border: var(--ice-border-width) var(--ice-border-style) var(--ice-border-color);
}/*# sourceMappingURL=global.css.map */