.ice-fade-in-linear-enter-active,
.ice-fade-in-linear-leave-active {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.ice-fade-in-linear-enter-from,
.ice-fade-in-linear-leave-to {
  opacity: 0;
}

.ice-zoom-in-enter-active,
.ice-zoom-in-leave-active {
  opacity: 1;
  transform: scale(1);
  transition: transform .1s linear, opacity .1s linear;
}

.ice-zoom-in-enter-from,
.ice-zoom-in-leave-to {
  opacity: 0;
  transform: scale(.9);
}

.ice-zoom-in-top-enter-active,
.ice-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center top;
  transition: transform .2s ease-in, opacity .2s ease-in;

  &[data-popper-placement^='top'] {
    transform-origin: center bottom;
  }
}

.ice-zoom-in-top-enter-from,
.ice-zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}